img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}
